@model PartyMaker.Models.Recurso

@{
    ViewData["Title"] = "Remover recurso";
}
<br/>
<h2>Remover</h2>
<br/>
<h3>Você tem que certeza que quer remover este recurso?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeRecurso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeRecurso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoRecurso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoRecurso)
        </dd>
    </dl>
    <br/>
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdRecurso" />
        <p>
        <input type="submit" value="Remover" class="btn btn-secondary" />
        </p>
        <p>
        <a asp-action="Index">Voltar para a lista</a>
        </p>
    </form>
</div>
