@model PartyMaker.Models.Recurso

@{
    ViewData["Title"] = "Detalhes do recurso";
}

<h2>Detalhes</h2>

<div>
    <h4>Recurso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeRecurso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeRecurso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoRecurso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoRecurso)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdRecurso">Editar</a> |
    <a asp-action="Index">Voltar para a lista</a>
</div>
