@model IEnumerable<PartyMaker.Models.Recurso>

@{
    ViewData["Title"] = "Recursos";
}
<br/>
<h2>Recursos</h2>
<br/>
<p>
    <a asp-action="Create" class="btn btn-secondary">Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeRecurso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoRecurso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeRecurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoRecurso)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRecurso">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdRecurso">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRecurso">Remover</a>
            </td>
        </tr>
}
    </tbody>
</table>
