@model PartyMaker.Models.Evento

@{
    ViewData["Title"] = "Detalhes do evento";
}

<br/>
<h2>Detalhes do Evento</h2>

<div>
    <br/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Local)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Local)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataEvento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataEvento)
        </dd>
    </dl>
</div>
<br/>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdEvento">Editar</a> |
    <a asp-action="Index">Voltar para a lista</a>
</div>
