@model IEnumerable<Churras.Models.Evento>

@{
    ViewData["Title"] = "Eventos";
}
<h2>Eventos</h2>
<p>
    <a class="btn btn-primary" asp-action="Create">Criar Novo</a>
</p>

<div class="table-responsive">
    <table class="table table-striped dataTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataEvento)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataEvento)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdEvento">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.IdEvento">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdEvento">Deletar</a> |
                        <a asp-action="Index" asp-controller="Participantes" asp-route-Id="@item.IdEvento">Participantes</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
