@model PartyMaker.Models.Participante

@{
    ViewData["Title"] = "Detalhes de participante";
}

<h2>Detalhes</h2>

<div>
    <h4>Participante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdParticipante">Editar</a> |
    <a asp-action="Index">Voltar para a lista</a>
</div>
